/* src/css/Login.css */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px; /* Adjust as needed */
}

.error-message {
  color: red;
  margin-top: 10px;
}
